
h1{
    color: #ff0000;
}

:root {
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: #3a375e80;
    --texto-fundo: #3a375e4d;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    
}
